<% wrap_layout :article_layout do %>

<div class="container" align="left">
	<span class="shareArticleTwitter remove_on_phone">
		<a href="#" id="tweet" target="_blank"><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a><br>
		<div class="vertical-spacer"></div>
		<a href="#" id="fbshare" target="_blank"><%= image_tag '/images/facebook.png', height: '40px', width: '40px' %></a><br>
		<div class="vertical-spacer"></div>
		<a href="#" id='redditPost' target="_blank"> <img src="https://image.freepik.com/free-icon/reddit-alien-head-logo_318-50341.jpg" alt="submit to reddit" border="0" width="40px" /> </a>
	</span>
					<div class="col-sm-9 col-sm-offset-1">
					  <article>
					  	<% article = getCurrentArticle() %>
					  	<h3><%= article['title'] %></h3>
					  	 By <%= link_to article['author'].tr('_',' ').titleize, findAuthors(article['author']), :target => '_blank'  %><br>
					  	 <div class="show_on_phone">
					  	 	<div class="vertical-spacer"></div>
					  	 	<div class="vertical-spacer"></div>
					  	 	<a href="" id="tweet1" target="_blank" ><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a>
 								<a href="#" id="fbshare1" target="_blank"><%= image_tag '/images/facebook.png', height: '40px', width: '40px' %></a>
						  	<a href="#" id='redditPost1' target="_blank"> <img src="https://image.freepik.com/free-icon/reddit-alien-head-logo_318-50341.jpg" alt="submit to reddit" border="0" width="40px" /> </a>
						   </div>
					  	 	<div class="vertical-spacer-lg"></div>
					  	<%= image_tag article['image'], :class=>"articleImages" %>
					  	<div class="vertical-spacer-lg"></div>
	    				<% article['body'].each do |paragraph| %>
	    					<% if paragraph.split(' ').length === 1 && paragraph.split('').length > 100%>
								<%= image_tag paragraph %><br>
								<% elsif paragraph.split(' ').length > 1 %>
								<span class="fontSize"><%= paragraph %></span><br>
								<% else %>
								<span class="fontSize"><%= paragraph %></span>
								<% end %>
	    				<% end %>
	  				</article>
	  			</div>
	  		</div>
			</div>

<% end %>