<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<div class = "block article-background" style="padding:0">
		
		<%= partial "/partials/article_header" %>
		
		<div class="navBar">
		
			<%= partial "/partials/other_article_bar" %>
				
		</div>
		
		<div class="row" style="margin:0; padding:0">
							  	
			<div class="col-sm-9" style="margin:0; padding:10px">

				<%= yield %>
				
				<div class="col-sm-3" id ="the-sticky-div" style="padding:0">
				
					<div class="toTheRight">
						
							<%= partial "/partials/side_bar" %>
							
					</div>
				
				</div>
				
				<div class="articleFooter col-md-offset-1 col-md-8 col-sm-12" style="padding:0">
											
						<%= partial "/partials/footer_article" %>
						
				</div>
			
			</div>
			
		</div>
		
		<%= partial "/partials/sign_up" %>
		<%= partial "/partials/collect_email" %>
		
	</div>
	
</div>


