
<% wrap_layout :layout do %>
<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<div class = "block article-background" style="padding:0">
		
		<%= partial "/partials/article_header" %>
		
		<div class="navBar">
		
			<%= partial "/partials/other_article_bar" %>
				
		</div>
		
		<div class="row" style="margin:0; padding:0">
							  	
			<div class="col-sm-9" style="margin:0; padding:10px">

				<div class="container" align="left">
					<div class="col-sm-9 col-sm-offset-1">
					  <article>
					  	<h3><%= current_article.metadata[:page]['title'].tr('-',' ').titleize %></h3>
					  	 <% if current_article.metadata[:page]['author'] === 'Nick Lawson' %>
					  	 		By <%= link_to current_article.metadata[:page]['author'], 'https://twitter.com/nlawsonMBA', :target => '_blank' %>
					  	 <% elsif current_article.metadata[:page]['author'] === 'Nic Bodiford' %>
					  	 		By <%= link_to current_article.metadata[:page]['author'], 'https://twitter.com/Nic_Bodiford', :target => '_blank' %>
					  	 <% else %>
					  	 	  By <%= current_article.metadata[:page]['author'] %>
					  	 <% end %>
					  	 	<div class="vertical-spacer-lg"></div>
					  	<%= image_tag current_article.metadata[:page]['image_header'] %>
					  	<div class="vertical-spacer-lg"></div>
	    				<%= yield %>
	    				<div class="vertical-spacer-lg"></div>
	    				<div class="vertical-spacer-lg"></div>
	  				</article>
	  			</div>
	  		</div>
			</div>
				
				<div class="col-sm-3" id ="the-sticky-div" style="padding:0">
				
					<div class="toTheRight">
						
							<%= partial "/partials/side_bar" %>
							
					</div>
				
			</div>
				
				<div class="vertical-spacer-lg"></div>
				
				<div class="articleFooter">
						
						<div class="vertical-spacer remove_on_ipad"></div>
					
						<%= partial "/partials/footer_side_bar" %>
						
				</div>
<div id="myModal" class="modal fade" role="dialog">
  			
		<div class="modal-dialog">

			<div class="modal-content">
  
  			  <form class="well form-horizontal" action="https://sqwadpage-contact.herokuapp.com" method="post"  id="contact_form">

				    <fieldset>
							
				      <legend>Contact Us Today!</legend>
				      
				      <div class="vertical-spacer-lg"></div>

				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">Name</label>  
				        
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				        
				            <input  name="name" placeholder="Name" class="form-control" id="name" type="text">
				        
				          </div>
				          
				        </div>
				        
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>
				      
				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">E-Mail</label>  
				            
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				            
				            <input name="email" placeholder="E-Mail Address" class="form-control"  type="email" id="email">
				            
				          </div>
				        
				        </div>
				      
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>
				        
				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">About</label>
				        
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
				            
				            <textarea class="form-control" name="comment" placeholder="Whats On Your Mind?" id="comment"></textarea>
				              
				          </div>
				      
				        </div>
				        
				      </div>

				      <!-- Success message -->
				      <div id="success" class="modal fade text-center" role="dialog" style="display:none">
				      	
							  <div class="modal-dialog">
							  	
							    <div class="modal-content">
							    	
							      <div class="modal-header text-left">
							      	
							      	<span class="icon icon-cross " id="dismissModalButton" data-dismiss="modal"></span>
							      
							    	</div>
							        
							        <img src="../images/EmailIcon.png" alt="" height="200" width="200">
							         
							        <h1>Request Recieved!</h1>
							        
							        <h5>Thanks for contacting us, we will get back to you shortly.</h5>
							    
							    </div>
							    
							  </div>
							  
							</div>
				      
				      <div class="alert alert-warning" role="alert" style="display:none" id="blank_error">Oh No! One or more fields was left blank.  Fill in the fields and try again.</div>
				      
				      <div class="alert alert-danger" role="alert" style="display:none" id="posting_error">Oh No! There was a posting error!  Make sure all fields are filled in correctly and try again.</div>
				      
				      <div class="vertical-spacer-lg"></div>
				      
				      <div class="form-group">
				        
				        <label class="col-md-3 control-label"></label>
				        
				        <div class="col-md-8">
				          
				          <button type="submit" class="btn btn-success col-md-4">SEND<span class="glyphicon glyphicon-send"></span></button>
				          
				          <button class="btn btn-danger col-md-4 col-md-offset-1" data-dismiss="modal">Dismiss!</button>
				          
				        </div>
				        
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>

				    </fieldset>
				      
				  </form>

			</div>

		</div>
	
</div>

<div id="anotherModal" class="modal fade" role="dialog">

	<div class="modal-dialog">
		
		<div class="modal-content">
			
			<div class="vertical-spacer-lg"></div>
			
			<h1>Coming soon!<h1>
				<div class="vertical-spacer"></div>
				<h4>Click the button below to be notified when its ready!</h4>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
			<a href="#waitlisted"><button class="btn btn-success">Get Notified</button></a>
			<button class="btn btn-danger" data-dismiss="modal">Dismiss!</button>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>

			<script>
			  document.addEventListener("DOMContentLoaded", function(event) {
			    window.waitlisted.start({domain: "sqwad.app.waitlisted.co", form: "b517ade0e06ad107014aa98eee5d74de"})
			  });
			</script>
			
		</div>
		
	</div>
	
</div>
<% end %>