<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <% if getCurrentArticle() %>
    <% article = getCurrentArticle() %>
        <meta property="og:title" content="<%= article['title'] %>" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://sqwadapp.co/images/sqwadhand-e630bfed.png" />
        <meta property="og:description" content="<%= article['summary'] %>" />
    <% else %>
        <meta content="<%= current_page.data.description || 'SQWAD is a real time fantasy sports platform that allows fans to challenge pros and friends for bragging rights and brand rewards.  Sign up for our beta today!' %>" property="og:description">
    <% end %>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sqwad Fantasy" %></title>
    <link rel="shortcut icon" href="../images/sqwadhand.png">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "toolkit-startup.css" %>
    <%= stylesheet_link_tag "toolkit-minimal.min.css" %>
    <%= stylesheet_link_tag "application-startup.css" %>
    <%= stylesheet_link_tag "application-minimal.css" %>
    <%= stylesheet_link_tag "landing-page.css" %>
    <%= stylesheet_link_tag "new_site.css" %>
    <%= stylesheet_link_tag "article.css" %>
    <%= stylesheet_link_tag "jquery.mmenu.css" %>
    <%= stylesheet_link_tag "nprogress.css" %>
    <%= stylesheet_link_tag "medium-editor.min.css" %>
    <%= stylesheet_link_tag "default.css" %>
    <%= stylesheet_link_tag "sqwad_css_post_pivot.css" %>
    <%= stylesheet_link_tag  "prime_time.css" %>
    <%= stylesheet_link_tag  "stormcasestudy.css" %>
    <%= stylesheet_link_tag "medium-editor-insert-plugin-frontend.min.css" %>
    <%= stylesheet_link_tag "medium-editor-insert-plugin.min.css" %>
    <script src='//www.launchwithhouston.com/embed/QTkLVnNrP5dsZPtwPM7vBLvf.js'></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <%= javascript_include_tag  "nprogress.js" %>
    <%= javascript_include_tag  "jquery.min.js" %>
    <%= javascript_include_tag  "medium-editor.min.js" %>
    <%= javascript_include_tag "handlebars.runtime.js" %>
    <%= javascript_include_tag "jquery-sortable.js" %>
    <%= javascript_include_tag  "jquery.ui.widget.js" %>
    <%= javascript_include_tag  "jquery.iframe-transport.js" %>
    <%= javascript_include_tag  "jquery.fileupload.js" %>
    <%= javascript_include_tag  "toolkit.js" %>
    <%= javascript_include_tag  "jquery.mmenu.min.js" %>
    <%= javascript_include_tag  "application.js" %>
    <%= javascript_include_tag "medium-editor-insert-plugin.min.js" %>
    <%= javascript_include_tag "hammer.js" %>

  </head>

  <body class="<%= page_classes %>">
<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5MSZ2X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5MSZ2X');</script>
<!-- End Google Tag Manager -->
    
    <%= yield %>
  </body>
 
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72482221-1', 'auto');
    ga('send', 'pageview');

  </script>
  
  <script src="//code.tidio.co/yzq5dra7dmle9qmyqitdkoqheqloxhgd.js"></script>
</html>
