<nav class="navbar navbar-default" style="background-color:black; margin:0">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      <a type="button" class="navbar-toggle" href="#my-menu">
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </a>
      
    </div>
    <div class="navbar-left remove_on_phone">
      <a class="navbar-brand" href="/fc.html"><%= image_tag '/images/sqwadhand.png', width: '60', style: 'margin-left:15px; padding-top:0; margin-top:0' %></a>
    
      <span class="site-font otherHeaderStuff"><span id="headerText">S</span>QWAD</span>
    </div>
    <div class="navbar-left remove_on_phone">
      <div class="vertical-spacer"></div>
      <div class="vertical-spacer"></div>
      <div class="vertical-spacer"></div>
      <span class="site-font lowDownText" style="margin-left:10px">LOW-DOWN</span>
    </div>
    <div class="navbar-center show_on_phone">
      <a class="navbar-brand" href="/fc.html"><%= image_tag '/images/sqwadhand.png', width: '60', style: 'margin-left:15px; padding-top:0; margin-top:0' %></a>
      <span class="site-font otherHeaderStuff"><span id="headerText">S</span>QWAD</span>
    </div>
    <div class="show_on_phone">
      <div class="vertical-spacer-lg"></div>
      <span class="site-font lowDownText" style="margin-left:10px">LOW-DOWN</span>
    </div>  
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" style="padding-top:20px">
        <li>
          
          <a class="hide-icons" target="_blank" href="https://twitter.com/Sqwadfc" style="padding-right:0"><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a>
          
        </li>
        
        <li>
          
          <a class="hide-icons" target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><%= image_tag '/images/facebook.png', height: '40px', width: '40px' %></a>
          
        </li>
        
        <li>
          
          <a class="hide-icons" target="_blank" href="#waitlisted" id="sqwad_header_button">SIGN UP</a>
          
        </li>
        
      </ul>
      
    </div>
     
  </div>
  
</nav> 

<nav id="my-menu" class="navmenu navmenu-default collapse" role="navigation">
  
  <ul class = "nav navmenu-nav">
    
    <li>
          
      <a href="#waitlisted" class="site_font">SIGN UP</a>
      
    </li>
    
    <li>
      
      <a href="https://twitter.com/Sqwadfc" class="site_font" target="_blank">Twitter</a>
      
    </li>
    
    <li>
      
      <a href="https://www.facebook.com/Sqwadfan/?fref=ts" class="site_font" target="_blank">Facebook</a>
      
    </li>
    
    <li>
      
      <a href="<%= "/article.html" %>" class="site_font">All</a>
      
    </li>
    
    <li>
      
      <a href="<%= "/wnba.html" %>" class="site_font">WNBA</a>
      
    </li>
    
    <li>
      
      <a href="<%= "/mls.html" %>" class="site_font">MLS</a>
      
    </li>
    
    <li>
      
      <a href="#" data-toggle="modal" data-target="#anotherModal" class="site_font">NFL</a>
      
    </li>
    
    <li>
      
      <a href="#" data-toggle="modal" data-target="#anotherModal" class="site_font">NBA</a>
      
    </li>
    
    <li>
      
      <a href="#" data-toggle="modal" data-target="#anotherModal" class="site_font">EPL</a>
      
    </li>
    
    <li>
      
      <a href="#" data-toggle="modal" data-target="#anotherModal" class="site_font">MLB</a>
      
    </li>
    
  </ul>
  
</nav>