---
title: Sqwad Fantasy
description: SQWAD is a real time fantasy sports platform that allows fans to challenge pros and friends for bragging rights and brand rewards.  Sign up for our beta today!
---

<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid">
	
	<div class = "block article-background" style="padding:0">
		
		<%= partial "/partials/article_header" %>
		
		<div class="row">
			
			<div class="col-sm-4 col-sm-offset-8">
				
					<div class="toTheRight">
						
							<div class="vertical-spacer remove_on_ipad"></div>
						
							<%= partial "/partials/side_bar" %>
							
					</div>
				
			</div>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
			<div class="col-sm-9 col-xs-12 addPadding">
				
				<div class="navBar">
						
						<div class="vertical-spacer remove_on_ipad"></div>
					
						<%= partial "/partials/other_article_bar" %>
							
				</div>
				
				<div class="vertical-spacer"></div>
<!-- 		<p align="left" style="font-style:italic">Sqwad is a real-time soccer fantasy game that allows users to switch players in and out
					during the match.  One of your players underperforming?  Bench him.<br><br>
					Time is money in our game, so the longer you keep a player on the pitch the more time the player drains
					from your "time cap".  Once your time cap reaches zero you will no longer earn points. <br>
					Do you have what it takes to dominate this new kind of fantasy?  Sign up for the beta <a href="#waitlisted">here</a> and find out!<br>
					Trouble Signing Up? <a href="#" data-toggle="modal" data-target="#myModal">Contact Us</a>
				</p> -->
				
					<script>
				  document.addEventListener("DOMContentLoaded", function(event) {
				    window.waitlisted.start({domain: "sqwad.app.waitlisted.co", form: "ae3e7ee130e6d3e7d88a5ba64ee5e175"})
				  });
				</script>
				
				<h1 class="article_header">Top 20 MLS Player Jerseys</h1>
				<p align="left">By <a href="https://twitter.com/Nic_Bodiford" target="_blank">Nic Bodiford</a> </p>
				
				<div class="shareArticleTwitter">
					<h2 id="status" target="_blank" class="shrink_text"></h2>
					<a href="" class="btn btn-primary" id="tweet" target="_blank">Tweet it!</a>
				</div>
				
				<a href="#waitlisted"><%= image_tag '/images/makePicksDuringMatch.png', width: 'auto' %></a>
				<p style="font-size:10px">Click the image to sign-up</p>
				
				<p align="left">We’re halfway through the 2016 MLS season and we know 
					what’s on your mind: Jersey sales.</p>
					
					<p>Below is a full list of MLS jersey sales in 2016:</p>
				 <ol>
					<li align="left">Andrea Pirlo, New York City FC</li>
					<li align="left">Clint Dempsey, Seattle Sounders FC</li>
					<li align="left">David Villa, New York City FC</li>
					<li align="left">Jordan Morris, Seattle Sounders FC</li>
					<li align="left">Steven Gerrard, LA Galaxy</li>
					<li align="left">Kaka, Orlando City SC</li>
					<li align="left">Didier Drogba, Montreal Impact</li>
					<li align="left">Sebastian Giovinco, Toronto FC</li>
					<li align="left">Frank Lampard, New York City FC</li>
					<li align="left">Dom Dwyer, Sporting Kansas City</li>
					<li align="left">Darlington Nagbe, Portland Timbers</li>
					<li align="left">Diego Valeri, Portland Timbers</li>
					<li align="left">Giovani Dos Santos, LA Galaxy</li>
					<li align="left">Robbie Keane, LA Galaxy</li>
					<li align="left">Graham Zusi, Sporting Kansas City</li>
					<li align="left">Nat Borchers, Portland Timbers</li>
					<li align="left">Brad Evans, Seattle Sounders FC</li>
					<li align="left">Osvaldo Alonso, Seattle Sounders FC</li>
					<li align="left">Brek Shea, Orlando City SC</li>
					<li align="left">Kei Kamara, New England Revolution</li>
				</ol>

				<div class="vertical-spacer"></div>

				<p align="left">
					<a href="http://www.espnfc.us/major-league-soccer/story/2676490/clint-dempsey-first-major-league-soccer-jersey-sales-top-20">Back-to-back Jersey Sales</a> Champion Clint Dempsey
					has been dethroned by New York City FC’s Andrea Pirlo. 
					Dempsey jersey sales skyrocketed after the 2014 World 
					Cup but Pirlo’s playmaking ability has proven too tough 
					for fans to ignore. Couple that with NYCFC holding 1st place 
					in the Eastern Conference while Seattle blundered its way to 
					the 4th worst record overall, one can easily understand the 
					changing of the guard.<br><br>
					Some of Andrea Pirlo's best work can be found <a href="https://www.youtube.com/watch?v=S4LwNXb3q5I">here</a>.
				
				<div class="vertical-spacer"></div>

				<p align="left">
					The MLS’s leading goal scorer, David Villa (12 goals), sits 
					in third with Seattle youngster Jordan Morris taking forth. 
					It’s worth watching whether Morris’s sales continue as the 
					abysmal Sounders season carries on. The Stanford grad is a 
					glimmer of hope for the Emerald City. The Top 5 is closed 
					out by LA Galaxy’s Steven Gerrard. The former Liverpool 
					midfielder is having a productive inaugural MLS season and 
					his popularity should only continue to grow.
				
				<div class="vertical-spacer"></div>

				<p align="left">A smattering of former overseas player 
					(Kaká, Didier Drogba, Sebastian Giovinco, and Frank Lampard) 
					take up spots 6-9. Sporting KC’s Dom Dwyer comes in at no. 10. 
					After breaking his right foot three times during his college career, 
					Dwyer was told by doctors that his professional aspirations would never 
					be realized. Dwyer persevered and now holds the Sporting KC single season 
					goal scoring record (22 goals).</p>
				
				<div class="vertical-spacer"></div>

				<div class="vertical-spacer-lg"></div>
<!-- 			<p>By Frankie Chakeris and <a href="https://twitter.com/Nic_Bodiford">Nic Bodiford</a>.  Senior writers at <a href="https://twitter.com/sqwadfc">Sqwad</a> that both
 -->		<!-- 		love sports and writing.</p> -->
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg show_on_ipad"></div>
			<div class="vertical-spacer-lg show_on_ipad"></div>
			<div class="vertical-spacer-lg show_on_ipad"></div>
			
			</div>
				<div class="vertical-spacer-lg"></div>
				
				<div class="articleFooter">
						
							<div class="vertical-spacer remove_on_ipad"></div>
						
							<%= partial "/partials/footer_side_bar" %>
							
					</div>
				
<!-- 			<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12" style="padding-right:0;">
				
				<div class="vertical-spacer-lg"></div>
				
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
			
				<div id="outer">
							
					<h1 class="trim-text new_sizes" id="left-line-new-site">Game Day Just Got<br>More Exciting</h1>
			
				</div>
				
				<hr id="new_first_hr" class="remove_on_ipad">
							
				<div>
					
				<h3 id="realTimeFantasy" align="middle">Play Real-Time Fantasy | Win Big Time Rewards</h3>
					
					<div class="vertical-spacer-lg show_on_ipad"></div>
					<a type="button" href="#waitlisted" id="sqwad_new_button" class="btn btn-primary btn-round-lg btn-lg">Join The Beta</a>
					<p class="white_color" style="left-border:clear">
						<span style="color:black; font-size:20px">Space Limited</span>
						<br>Trouble Signing Up? <a href="#" data-toggle="modal" data-target="#myModal">Contact Us</a>
					</p>
					
					
					 <script>
				    document.addEventListener("DOMContentLoaded", function(event) {
				      window.waitlisted.start({domain: "sqwad.app.waitlisted.co"})
				    });
	  			</script>
					
				</div>
				
			</div>
			
			<div class="vertical-spacer-lg show_on_ipad"></div>
			
			<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12" id="phone_new_site">
				
				<img src="images/phone.png" id="keepImageSizedCorrectly">
				
			</div>
		
		</div>
		<div class="vertical-spacer-lg remove_on_ipad"></div>
		<div class="vertical-spacer-lg remove_on_ipad"></div>
	</div> -->

<!-- 	
	<div class = "block">
		<div class="row">
			<div class="col-md-4" style="padding-right:0">
				<img src="images/realfantasy.png" alt="">
				<h1 class="site_font three_titles">Real-Time Fantasy</h1>
				<h3 class="site_font">Change your player in real-time at any time during the game</h3>
			</div>
			<div class="col-md-4" style="padding-left:0;padding-right:0">
				<div class="vertical-line">
					<img src="images/freeagency.png" alt="">
					<h1 class="site_font three_titles">Real Free Agency</h1>
					<h3 class="site_font">Buy Players to build your roster. Watch as their value increases and decreases based on stats</h3>
					<div class="vertical-spacer-lg"></div>
				</div>
			</div>
			
			<div class="col-md-4" style="padding-left:0">
					<img src="images/realrewards.png" alt="">
					<h1 class="site_font three_titles">Real Rewards</h1>
					<h3 class="site_font">From gift cards to merchandise to experiences, dominate your game and win rewards</h3>
			</div>
		</div>
	</div> -->
<!-- 	<div class = "block" style="padding:0; background-image:url(images/bg_play.jpg)">
		
		<div class="row">
			
			<div class="vertical-spacer-lg remove_on_ipad"></div>
			<div class="vertical-spacer-lg remove_on_ipad"></div>
			<div class="vertical-spacer-lg remove_on_ipad"></div>
			<div class="vertical-spacer-lg"></div>
		
			<div class="col-md-5 col-md-offset-1">
				
				<h1 class="site_font" id="playMoreGamesText">PLAY MORE<br>GAMES</h1>
				
				<hr id="playGamesHR">
				
				<div class="col-md-8 col-sm-6">
					
					<div class="vertical-spacer-lg"></div>
				
					<h2 class="site_font" id="playeMoreGamesMiniText">No more one lineup for the whole weekend, play each game with a fresh chance to win</h2>
					
					<div class="vertical-spacer-lg remove_on_ipad"></div>
					<div class="vertical-spacer-lg remove_on_ipad"></div>
					<div class="vertical-spacer-lg remove_on_ipad"></div>
					
				</div>
				
			</div>
			
			<div class="col-md-5 col-md-offset-1 col-sm-5 col-xs-10 col-xs-offset-1">
				
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer remove_on_ipad"></div>
						
			</div>
			
		</div>
		
	</div>
	
	<div class = "block" style="padding-top:0;padding-right:0;padding-left:0;padding-bottom:20px;background-image:url(images/bg_athlete.jpg)">
		
		<div class="row">
			
			<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
				
				<img src="images/athletes.png" alt="">
				
			</div>
			
			<div class="col-md-5">
				
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				
				<h1 class="site_font" id="againstTheBest">PLAY AGAINST<br>THE BEST</h1>
				
				<hr align="right" id="againstBestHR">
				
				<h4 class="site_font" id="againstTheBestLittleText">Play Games against pro-athletes like Brittney Griner to win 
					gear, premium rewards, and experiences</h4>
				
				<div class="vertical-spacer-lg"></div>
				
				<a href="#waitlisted" id="sqwad_2nd_button" class="btn btn-success">
					Join Beta Now
				</a>
			
			</div>
			
		</div>
		
	</div>
	
	<div class = "block" style="padding:0;background-image:url(images/bg_rewards.jpg)">
		
		<div class="row">
			
			<div class="col-md-6">
				
				<div class="vertical-spacer-lg remove_on_ipad"></div>
				<div class="vertical-spacer-lg"></div>
				
				<h1 class="site_font" id="winPrizesTitle">EARN REWARDS</h1>
				<h3 class="site_font col-md-8 col-md-offset-2 col-sm-12" id="winPrizesMiniText">Play games, win points, redeem for real rewards</h3>
			</div>
			
			<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
				
				<img src="images/rewardsicons.png" alt="">
				
			</div>
			
		</div>
		
	</div>
	<div class = "block" style="background-color:#e0e0e0">
		<h3 class="site_font" id="loveShit">We love sports. We love tech. We'd love to hear from you.</h3>
		<div class="vertical-spacer-lg"></div>
		<a href="" class="btn" id="finalContactButton" data-toggle="modal" data-target="#myModal">CONTACT US</a>
		<div class="vertical-spacer-lg remove_on_ipad"></div>
		<div class="vertical-spacer-lg"></div>
	</div>
</div>
 --><div id="myModal" class="modal fade" role="dialog">
  			
		<div class="modal-dialog">

			<div class="modal-content">
  
  			  <form class="well form-horizontal" action="https://sqwadpage-contact.herokuapp.com" method="post"  id="contact_form">

				    <fieldset>
							
				      <legend>Contact Us Today!</legend>
				      
				      <div class="vertical-spacer-lg"></div>

				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">Name</label>  
				        
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				        
				            <input  name="name" placeholder="Name" class="form-control" id="name" type="text">
				        
				          </div>
				          
				        </div>
				        
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>
				      
				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">E-Mail</label>  
				            
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				            
				            <input name="email" placeholder="E-Mail Address" class="form-control"  type="email" id="email">
				            
				          </div>
				        
				        </div>
				      
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>
				        
				      <div class="form-group">
				        
				        <label class="col-md-2 control-label">About</label>
				        
				        <div class="col-md-8 inputGroupContainer">
				          
				          <div class="input-group">
				          
				            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
				            
				            <textarea class="form-control" name="comment" placeholder="Whats On Your Mind?" id="comment"></textarea>
				              
				          </div>
				      
				        </div>
				        
				      </div>

				      <!-- Success message -->
				      <div id="success" class="modal fade text-center" role="dialog" style="display:none">
				      	
							  <div class="modal-dialog">
							  	
							    <div class="modal-content">
							    	
							      <div class="modal-header text-left">
							      	
							      	<span class="icon icon-cross " id="dismissModalButton" data-dismiss="modal"></span>
							      
							    	</div>
							        
							        <img src="../images/EmailIcon.png" alt="" height="200" width="200">
							         
							        <h1>Request Recieved!</h1>
							        
							        <h5>Thanks for contacting us, we will get back to you shortly.</h5>
							    
							    </div>
							    
							  </div>
							  
							</div>
				      
				      <div class="alert alert-warning" role="alert" style="display:none" id="blank_error">Oh No! One or more fields was left blank.  Fill in the fields and try again.</div>
				      
				      <div class="alert alert-danger" role="alert" style="display:none" id="posting_error">Oh No! There was a posting error!  Make sure all fields are filled in correctly and try again.</div>
				      
				      <div class="vertical-spacer-lg"></div>
				      
				      <div class="form-group">
				        
				        <label class="col-md-3 control-label"></label>
				        
				        <div class="col-md-8">
				          
				          <button type="submit" class="btn btn-success col-md-4">SEND<span class="glyphicon glyphicon-send"></span></button>
				          
				          <button class="btn btn-danger col-md-4 col-md-offset-1" data-dismiss="modal">Dismiss!</button>
				          
				        </div>
				        
				      </div>
				      
				      <div class="vertical-spacer-lg"></div>

				    </fieldset>
				      
				  </form>

			</div>

		</div>
	
</div>

<div id="anotherModal" class="modal fade" role="dialog">

	<div class="modal-dialog">
		
		<div class="modal-content">
			
			<div class="vertical-spacer-lg"></div>
			
			<h1>Coming soon!<h1>
				<div class="vertical-spacer"></div>
				<h4>Click the button below to be notified when its ready!</h4>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
			<a href="#waitlisted"><button class="btn btn-success">Get Notified</button></a>
			<button class="btn btn-danger" data-dismiss="modal">Dismiss!</button>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>

			<script>
			  document.addEventListener("DOMContentLoaded", function(event) {
			    window.waitlisted.start({domain: "sqwad.app.waitlisted.co", form: "b517ade0e06ad107014aa98eee5d74de"})
			  });
			</script>
			
		</div>
		
	</div>
	
</div>