---
title: Sqwad Fantasy Case Study
description: Case studies of Sqwads unique engagement
---

<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<%= partial "/partials/sqwad_business_change_header" %>
	
	<div class="block headerBlockCaseStudies">
		
		<div class="vertical-spacer-lg"></div>
		
		<p class="white-text stormcasestudytextheaders">How We Help Teams Win</p>
		
		<div class="vertical-spacer"></div>
		
		<p class="white-text foundersNames shrinkMargins">More than anything our goal is to help teams succeed in both digital fan engagment & revenue streams.  Check out below just a few ways we've helped our partner teams achieve both</p>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-md-4">
			
			<p class="across_top_title" id="seattleStormSettings">SEATTLE STORM</p>
			
		</div>
		
		<div class="col-md-4">
			
			<p class="across_top_title" id="setPortlandWinterhawks">PORTLAND WINTERHAWKS</p>
			
		</div>
		
		<div class="col-md-4">
			
			<p class="across_top_title" id="setSpokaneChiefs">SPOKANE CHIEFS</p>
			
		</div>
		
	</div>
	
	<div class="block thirdBlockBackground">
		
		<div class="row">
			
			<%= image_tag '/images/june_storm_case_icon.png', :id => "case_icon" %>
			
		</div>
		
		<div class="row">
			
			<p class="white-text case-quote">"SQWAD engages our fans while giving us tangible ROI."</p>
			
			<div class="vertical-spacer"></div>
			
			<p class="white-text credit-quote-text-case">--KENNY DOW, SR. MANAGER, MARKETING</p>
			
			<div class="vertical-spacer"></div>
			
			<p class="seattle-storm-gold-color text-below-quote-case-studies">The Seattle Storm turns mobile engagment into direct ticketing revenue with SQWAD</p>
			
		</div>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="row">
			
			<button class="btn btn-bottom-casestudy">View App</button>
			
		</div>
		
	</div>
	
	<div class="block video-casestudy snow-background-color resetTopBlockPadding">
		
		<p class="stormcasestudytextheaders">About the Team</p>
		
		<p class="aboutTheTeamText" style="margin-left:10%; margin-right:10%">The Seattle Storm are a WNBA Franchise located in Seattle, Washington.  A storied
			history includes 2 WNBA titles and all-star players like Sue Bird, Jewell Loyd, and Breanna Stewart.</p>
		
		<div class="col-md-6" style="padding-left:10%;">
			
			<p class="stormcasestudytextheaders">Goals</p>
			
			<p class="aboutTheTeamText text-align-left">-Create a mobile experience that pulls fans in and connects them with the live game</p>
			
			<p class="aboutTheTeamText text-align-left">-Build customer insights for CRM system</p>
			
			<p class="aboutTheTeamText text-align-left">-Turn this experience into a vessel to directly sell tickets</p>
			
			<p class="stormcasestudytextheaders text-align-left">Solution</p>
			
			<p class="aboutTheTeamText text-align-left">SQWAD worked with the Storm to build a team mobile app that leveraged our in-game 
			fantasy experience to reach their engagement & revenue goals while offereing their fans a unique mobile experience</p>
			
		</div>
		
		
		<div class="col-md-6">
			
			<p class="stormcasestudytextheaders aboveImagePhotoOrVideoText">App Platform</p>
			
			<%= image_tag '/images/june_winterhawks_integrations.png', :class => "aboutTheTeamImage" %>
			
			<div class="vid-container">
			
				<iframe width="560" height="315" src="https://www.youtube.com/embed/xH-fI1mPT7M" frameborder="0" allowfullscreen></iframe>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="block storm-green-background-color resetTopBlockPadding">
		
		<p class="results-text-case stormcasestudytextheaders">Results</p>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-md-12 spokanePageShow" style="display:none">
			
			<p class="white-text aboutTheTeamText">The Spokane Chiefs are a semi-professional junior hockey team playing in the Western Hockey League.  Located in Spokane, Washington the Chiefs have sent dozens of players to the NHL.</p>
			
			<p class="fifteenHundredText white-text">1,500+</p>
			
			<p class="underHeaderText">Fans monthly with their sponsors</p>
			
		</div>
		
		<div class="row showStormStuff">
			
			<div class="col-md-4">
				
				<p class="number-results-case">1,600+</p>
				
				<p class="results-bottom-text">Monthly Active Users</p>
				
			</div>
			
			<div class="col-md-4">
				
				<p class="number-results-case">16 Minutes</p>
				
				<p class="results-bottom-text">Average screen time per user per game on the platform</p>
				
			</div>
			
			<div class="col-md-4">
				
				<p class="number-results-case">92%</p>
				
				<p class="results-bottom-text">Of fantasy players played from the 1st quarter to the 4th</p>
				
			</div>
			
		</div>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="row showStormStuff">
			
			<div class="col-md-4">
				
				<p class="number-results-case">3,000</p>
				
				<p class="results-bottom-text">Fans Added To The CRM System</p>
				 
			</div>
			
			<div class="col-md-4">
				
				<p class="number-results-case">60%</p>
				
				<p class="results-bottom-text">Of accounts made on platform were new users</p>
				
			</div>
			
			<div class="col-md-4">
				
				<p class="number-results-case">$15,000</p>
				
				<p class="results-bottom-text">In additional ticket sales directly through their mobile application</p>
				
			</div>
			
		</div>
		
	</div>
		
	<div class="block" style="background-color:black">
		
		<%= image_tag '/images/june_phone_icon.png' %>
		
		<div class="vertical-spacer-lg"></div>
		
		<p class="connectingFansWithSponsorsText">Want Similar Results?</p>
		
		<p class="digitalInventorySalesText" >Let's chat about reaching your fans</p>
		
		<div class="vertical-spacer-lg"></div>
		
    <form action="https://pick6page-contact.herokuapp.com" method="post"  id="contact_form">
        
        <div class="form-group">
                      
          <div class="col-md-3 col-md-offset-3 inputGroupContainer">
            	            
              <input name="name" placeholder="Name" class="form-input-special" id="name" type="text">
              
              <div class="vertical-spacer"></div>
              
              <input name="team" placeholder="Team" class="form-input-special" id="team" type="text">
              
              <div class="vertical-spacer"></div>
              
              <input name="email" placeholder="E-mail" class="form-input-special" id="email" type="email">
            
          </div>
          
          <div class="col-md-3 inputGroupContainer">
          	
          	<textarea class="form-control" style="height:76.68px" name="comment" placeholder="Tell us a little about your team & digital needs!" id="comment"></textarea>
          	
          	<div class="vertical-spacer"></div>
          	
          	<button type="submit" class="btn btn-danger" style="width:100%">Send Us An Email!</button>
          	
          </div>
          
        </div>

        <!-- Success message -->
        <div id="success" class="modal fade text-center" role="dialog" style="display:none">
          
            <div class="modal-dialog">
              
              <div class="modal-content">
                  
                <div class="modal-header text-left">
                  
                  <span class="fa fa-times" id="dismissModalButton" data-dismiss="modal"></span>
                
                  </div>
                  
                  <%= image_tag "EmailIcon.png", :height=>"200", :width=>"200" %>
                   
                  <h1>Request Received!</h1>
                  
                  <h5>Thanks for contacting us, we will get back to you shortly.</h5>
              
              </div>
              
            </div>
            
          </div>
        
        <div class="alert alert-warning" role="alert" style="display:none" id="blank_error">Oh No! One or more fields was left blank.  Fill in the fields and try again.</div>
        
        <div class="alert alert-danger" role="alert" style="display:none" id="posting_error">Oh No! There was a posting error!  Make sure all fields are filled in correctly and try again.</div>
        
        <div class="vertical-spacer-lg"></div>
        
    </form>
		
	</div>
	
		
<!-- 	<p class=""><%# link_to 'Learn How We Can Help Your Team', '/pdfs/sponsorshipRevenueOverview.pdf', :class=> 'stormcasestudybuttonpdf',:target=>'_blank' %></p>
	
	<div class="row" style="margin-left:10%; margin-right:10%">
	
		<p class='stormcasestudytextheaders'>The Seattle Storm turns mobile engagement into ticketing revenue through SQWAD</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm had the goal of creating a mobile experience for their fans that 
			not only engaged their fans during the live game, but also lead to tangible ROI for their team.</p>
			
		<p class='stormcasestudytextheaders'>Goals</p>
			
		<ol>
			
			<li class="stormcasestudybodytext">Create a mobile experience that pulls fans in and connects them with the live game</li>
			
			<li class="stormcasestudybodytext">Build customer insights for CRM system</li>
			
			<li class="stormcasestudybodytext">Turn this experience into a vessel to directly sell tickets</li>
			
		</ol>
		
		<div class="vertical-spacer-lg"></div>
		
		<img src="/images/stewart_app.jpg" alt="">
		
		<div class="vertical-spacer"></div>
		
		<p class='stormcasestudytextheaders'>Background</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm worked with SQWAD to create a mobile experience that included an in-game fantasy 
			sports platform and loyalty experience for their fans to engage with the live game.</p>
			
		<p class="stormcasestudybodytext">The fan engagement:</p>
		
		<ul>
			
			<li class="stormcasestudybodytext">2,300 accounts made</li>
			
			<li class="stormcasestudybodytext">Average 247 users per game</li>
			
			<li class="stormcasestudybodytext">Avg 20 player picks per game</li>
			
			<li class="stormcasestudybodytext">92% of users played from the 1st -4th Quarter</li>
			
		</ul>
		
		<p class="stormcasestudybodytext">The Storm offered a ticketing deal on the home 
			slider of the platform for the season to match a non-intrusive 
			CTA with the pull of the mobile experience. </p>
		
		<div class="videoWrapper">
			<iframe width="640" height="360" 
				src="https://www.youtube.com/embed/Tx9qfrgxnFU" frameborder="0" allowfullscreen>
			</iframe>
		</div>
			
		<p class='stormcasestudytextheaders'>The Results</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm were able to</p>
		
		<ul>
			
			<li class="stormcasestudybodytext">Sell an additional 300+ tickets just from the CTA in the slider</li>
			
			<li class="stormcasestudybodytext">Added valuable insights to their ticketing CRM system for over 2,300 fans</li>
			
			<li class="stormcasestudybodytext">1 in 10 active users were ticket buyers</li>
			
		</ul>
		
		<p class="stormcasestudybodytext">With this data the Storm are able to have actionable insights that help in group and season ticket sales.</p>
		
		<p class='stormcasestudytextheaders'>What’s Next?</p>
		
		<p class="stormcasestudybodytext">For the 2017 season we are working with the Storm to add direct messaging & push notifications segmented based on fan actions and behaviors within the platform.</p>
		
		<p class=""><%# link_to 'Learn How We Can Help Your Team', '/pdfs/sponsorshipRevenueOverview.pdf', :class=> 'stormcasestudybuttonpdf',:target=>'_blank' %></p>
		
	</div>
	
	<div class="vertical-spacer-lg"></div> -->
	
	<%# partial "/partials/contact_us" %>
	
	<%# partial "/partials/footer" %>
	
	
</div>