---
title: Sqwad Fantasy
description: SQWAD brings next level fan engagement to your team
---

<div class="container-fluid">
	
	<%= partial "/partials/sqwad_business_change_header" %>
	
	<a name="Home" id="home" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12 block firstBlockBackground" style="height: 100vh; ">
			<div class="center-text">
				<p style="margin:0">
					YOUR GAMEDAY, AMPLIFIED
				</p>
				<p class="underHeaderText">MAKE EVERY GAME AND PLAY MATTER FOR YOUR FANS</p>
			</div>
		</div>
		
	</div>
	
	<a name="Testimonials" id="testimonials" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12 block secondBlockBackground" style="height:100vh">
			
			<div class="row">
				
				<p class="titlefontsize">A New Mobile Experience For Your Fans</p>
				
			</div>
			
			<div class="row">
				
				<div class="col-md-6">
					
					<%= image_tag '/images/ScreenGroup.png' %>
					
				</div>
				
				<div class="col-md-6">
					
					<%= image_tag '/images/profile_plus_round.png' %>
					
					<%= image_tag '/images/Controller.png' %>
					
					<%= image_tag '/images/Shield.png' %>
					
					<%= image_tag '/images/CombinedShape.png' %>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<a name="Experience" id="experience" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12">
			
			<p>Experience</p>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
	<a name="Stats" id="stats" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12">
			
			<p>Stats</p>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
	<a name="rewards" id="rewards" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12">
			
			<p>Rewards</p>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
	<a name="teams" id="teams" class="anchor"></a>
	
	<div class="row">
		
		<p style="font-size:50px">Our Teams</p>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-md-2 col-md-offset-1">
			
			<a href="http://winterhawks.com" target="_blank"><%= image_tag '/images/WinterhawksLogobig.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2">
			
			<a href="http://storm.wnba.com/" target="_blank"><%= image_tag '/images/Stormlogo.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2">
			
			<a href="http://gocheckers.com/" target="_blank"><%= image_tag '/images/CheckersLogo.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2">
			
			<a href="http://spokanechiefs.com/" target="_blank"><%= image_tag '/images/Chiefslogo.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2">
			
			<a href="http://www.wnba.com/" target="_blank"><%= image_tag '/images/WNBAlogo.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
<!-- 	<a name="ready" id="ready" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12">
			
			<p>Ready to Start?</p>
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div> -->
	
	<%= partial "/partials/footer" %>
	
</div>