---
title: Sqwad Fantasy
description: SQWAD brings next level fan engagement to your team
---

<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<%= partial "/partials/sqwad_business_change_header" %>
		
	<div class="row">
		
		<div class="col-md-12 block firstBlockBackground" style="height: 100vh;">
			<div class="center-text white-text">
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<p class="changeLineHeight">
					<span class="yourGamedayText">Your Gameday</span> <br>
						Amplified
					</p>
 				<p class="underHeaderText shrinkMargins">A different mobile experience for your fans and revenue driver for your team</span></p>
			</div>
			
		</div>
	</div>
		
	<div class="row" style="background-color:#D8D8D8" id="startColorChange">
		
		<div class="vertical-spacer"></div>
		
		<p style="font-size:50px; color:black">Organizations That Trust Us With Their Gameday</p>
		
		<div class="vertical-spacer"></div>
		
		<div class="col-md-1 col-md-offset-3 col-xs-6">
			
			<a href="http://winterhawks.com/theapp/" target="_blank"><%= image_tag '/images/june_winterhawks_logo.png', :class => "teamLogoSizes" %></a>
						
		</div>
		
		<div class="col-md-1 col-xs-6">
			
			<a href="http://storm.wnba.com/storm-app-tutorial/" target="_blank"><%= image_tag '/images/june_storm_logo.png', :class => "teamLogoSizes" %></a>
			
		</div>
		
		<div class="col-md-1 col-xs-6">
			
			<a href="http://gocheckers.com/fan-zone/mobile-app" target="_blank"><%= image_tag '/images/june_checkers_logo.png', :class => "teamLogoSizes" %></a>
						
		</div>
		
		<div class="col-md-1 col-xs-6">
			
			<a href="http://spokanechiefs.com/mobile-app" target="_blank"><%= image_tag '/images/june_chiefs_logo.png', :class => "teamLogoSizes" %></a>
						
		</div>
		
		<div class="col-md-1 col-xs-12">
			
			<a href="http://www.wnba.com/fantasy/" target="_blank"><%= image_tag '/images/june_wnba_logo.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
				
	</div>
		
	<div class="row">
	
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-md-5 col-md-offset-1">
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg remove_on_phone"></div>
			<div class="vertical-spacer-lg remove_on_phone"></div>
		
			
			<p style="color:#FA023C; font-size:50px; font-weight:700">
				Your Fanbase Is EVOLVING
			</p>
			<div class="vertical-spacer"></div>
			<p style="color:black; font-size:20px">The way fans consume sports is changing at a rapid pace.  
			Your mobile experience can no longer be static.  It must be active to the great moments in your live game.</p>
		</div>
		<div class="col-md-6">
				<%= image_tag '/images/june_stadium.png' %>
				
				<div class="vertical-spacer-lg"></div>
				
		</div>
		
	</div>
	
	<div class="row" style="background-color:#D8D8D8;">
		
			<div class="vertical-spacer-lg"></div>
					
			<div class="col-sm-12 shrinkPadding" style="margin-bottom:30px">
				<p class="evolveHeaderText">It's Time To Evolve With Them</p>
				<p style="font-size:20px; font-weight:700">With SQWAD your mobile experience becomes an extension of your gameplay to let fans connect with each moment of your game.</p>
				<div class="vid-container">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/xH-fI1mPT7M" frameborder="0" allowfullscreen></iframe>

				</div>
				
			</div>
		
	</div>
			
	<div class="row" style="background-color: #FA023C">
		
		<div class="vertical-spacer-lg"></div>
		
		<p style="color:white; font-size:30px">With A SQWAD Mobile Experience Your Team Can</p>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_fantasy_icon.png' %>
			
			<div class="vertical-spacer"></div>
			
			<p class="mobile_experience_title">Engage Fans With The LIVE game</p>
			
			<p class="mobile_experience_body">With our in-game fantasy experience we allow your fans to engage with every moment of the game.
				Your fans can feel like a coach while learning your players names & playing styles.</p>
			
		</div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_build_loyalty.png' %>
			
			<div class="vertical-spacer"></div>
			
			<p class="mobile_experience_title">Build Fan Loyalty</p>
			
			<p class="mobile_experience_body">Fans can check into games, gain digital badges, and use points earned on team & sponsor experiences and rewards</p>
			
		</div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_sponsor_icon.png' %>
			
			<div class="vertical-spacer"></div>
			
			<p class="mobile_experience_title">Increase Sponsor & Ticket Revenue</p>
			
			<p class="mobile_experience_body">Our engagement pulls fans into your digital experience opening new opportunities to sell tickets to your fans and allow sponsors to reach your fans.</p>
			
		</div>
		
		<div class="col-md-12">
			
			<div class="vertical-spacer-lg"></div>
			
			<p class="mobile_experience_title">Plus The Team Mobile Essentials</p>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_team_news_icon.png' %>
			
			<div class="vertical-spacer-lg"></div>
			
			<p class="mobile_experience_title">Team Stats, Rosters, Standings, Schedule & News</p>
			
		</div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_push_icon.png' %>
			
			<div class="vertical-spacer-lg"></div>
			
			<p class="mobile_experience_title">Push Notifications</p>
			
		</div>
		
		<div class="col-md-4">
			
			<%= image_tag '/images/june_ticket_icon.png' %>
			
			<div class="vertical-spacer-lg"></div>
			
			<p class="mobile_experience_title">Ticketing Integration</p>
			
			<div class="vertical-spacer-lg"></div>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>

	</div>
		
	<div class="row thirdBlockBackground">
		
		<div class="vertical-spacer-lg"></div>
		
		<div class="col-xs-4">
			
			<p class="across_top_title" id="seattleStormSettings">SEATTLE STORM</p>
			
		</div>
		
		<div class="col-xs-4">
			
			<p class="across_top_title" id="setPortlandWinterhawks">PORTLAND WINTERHAWKS</p>
			
		</div>
		
		<div class="col-xs-4">
			
			<p class="across_top_title" id="setSpokaneChiefs">SPOKANE CHIEFS</p>
			
		</div>
		
		<div class="col-md-12">
			
			<div class="vertical-spacer-lg"></div>
			
			<%= image_tag '/images/june_storm_case_icon.png', :id => "case_icon" %>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-12">
			
			<p style="color:yellow; font-size: 30px" id="statCaseStudy" class="shrinkMargins">SOLD $15,000 IN TICKETS LAST SEASON THROUGH OUR ENGAGEMENT</p>
		
			<p class="mobile_experience_body" id="quoteFromTeam">"SQWAD engages our fans while giving us tangible ROI."<br>
				--KENNY DOW, SR. MANAGER, MARKETING</p>
			
		</div>
			
		<div class="vertical-spacer"></div>
			
		<%= link_to "LEARN MORE", "/casestudies.html", :class => "btn learn_more_button_june" %> 
			
		<div class="vertical-spacer-lg"></div>
		
	</div>
			
	<div class="row black-background-color">
	
		<div class="col-md-4">
			
			<div class="vertical-spacer-lg"></div>
			
			<%= image_tag '/images/june_fan_journey.png', :class => 'floatRightThenCenter' %>
		
		</div>
		
		<div class="col-md-8">
			
			<div class="vertical-spacer-lg remove_on_phone"></div>
			<div class="vertical-spacer"></div>
		
			<p class="fan_journey_title">The Fan Journey on Gameday</p>
			
		</div>
		
		<div class="first-arrow-down-click-anchor">
				<a href="/#checkin" target="_self"><%= image_tag '/images/down_arrow.png' %></a>
		</div>  
	
	</div>
	<a name="checkin" id="checkin" class="anchor"></a>
	<div class="block block-fill-height snow-background-color">
		<div class="row">
    	<div class="col-md-5 col-md-offset-1" align='right'>
    		<div class="vertical-spacer-lg remove_on_phone"></div>
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<p class="carousel_header_font">Fans Arrive In Your Stadium And Immediately Start Engaging</p>
				<p class="carousel_body_font">When they arrive at the stadium they can check in to recieve rewards points and badges, rewarding them for being there and seeing moments live.</p>
			</div>
			<div class="col-md-6">
				<img class="another_phone_overlay" src="/images/apple_silver.png" alt="">
				<video class = "top_video_position" width="220px" height="auto" autoplay loop>
				  <source src="/videos/checkedIn.mov" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
			</div> 
		</div>
		<div class="arrow-down-click-anchor">
			<a href="/#playAlong" target="_self"><%= image_tag '/images/down_arrow.png' %></a>
		</div>  
	</div>
	<a name="playAlong" id="playAlong" class="anchor"></a>
	<div class="block block-fill-height">
    <div class="row">
			<div class="col-md-6">
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<img class="phone_overlay" src="/images/apple_silver.png" alt="">
				<video width="221px" height="auto" poster="/images/bird_frozen.png" class="overlay_video" id="video1" onloadeddata="runMyFunction();">
			  	<source src="/videos/pickplayer.mp4" type="video/mp4">
			  	Your browser does not support the video tag.
				</video>
				<video width="90%" height="auto" id="video2" poster="/images/clark_frozen.jpg" onloadeddata="runMyFunction();">
				  <source src="/videos/sqwad_play_clip.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
			</div>
			<div class="col-md-5" align="left">
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<p class="carousel_header_font">A Custom Fantasy Sports Experience When The Game Begins</p>
				<p class="carousel_body_font">When your game starts fans compete in live fantasy with other fans. They choose players throughout the game and gain points when their pick racks up stats.</p>
			</div>
    </div>
      <div class="arrow-down-click-anchor">
			<a href="/#usePoints" target="_self"><%= image_tag '/images/down_arrow.png' %></a>
		</div>  
   </div>
   <a name="usePoints" id="usePoints" class="anchor"></a>
   <div class="block block-fill-height snow-background-color">
    <div class="row">
    	<div class="col-md-5 col-md-offset-1" align="right">
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<p class="carousel_header_font">Fans Use Points On Team & Sponsor Rewards & Experiences</p>
				<p class="carousel_body_font">Fans use points earned on awesome team and sponsor rewards & experiences. Rewards are sent directly to the fan via email for easy and quick redemption.</p>
			</div>
			<div class="col-md-6">
				<img class="another_phone_overlay" src="/images/apple_silver.png" alt="">
				<video class="bring_to_front" width="220px" autoplay loop>
				  <source src="/videos/reward_store_new.mov" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
			</div>
    </div>
    <div class="arrow-down-click-anchor">
			<a href="/#engageBeyond" target="_self"><%= image_tag '/images/down_arrow.png' %></a>
		</div>  
   </div>
   <a name="engageBeyond" id="engageBeyond" class="anchor"></a>
   <div class="block">
    <div class="row">
    	<div class="col-md-5 col-md-offset-1">
				<%= image_tag '/images/june_tweet.png' %>
			</div>
			<div class="col-md-5" align='left'>
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<p class="carousel_header_font">Fans Engage Beyond The Game With Social Content</p>
				<p class="carousel_body_font">Engagement doesn't end on the app. Fans can see winners of each game and see valuable strategy content to connect beyond the game.</p>
			</div>
   	</div>
  </div>
	
	<div class=" connectingWithFansSponsorsBlock">
		
		<div class="row">
				
			<div class="col-md-12">
			
				<p class="connectingFansWithSponsorsText">Connecting Fans With Your Sponsors</p>
			
			</div>
		
		</div>
		
		<div class="row">
				
			<div class="col-md-6">
			
				<%= image_tag '/images/june_sponsor_screens.png' %>
			
			</div>
			
			<div class="col-md-5">
							
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg remove_on_phone"></div>
			
				<p class="digitalInventorySalesText">With new digital inventory you can increase reach for current & new partners to drive sales</p>
				
				<div class="vertical-spacer-lg"></div>
				
				<%= link_to "Learn More", "/casestudies.html", :class => "btn btn-danger learnMoreClass" %>
			
			</div>
		
		</div>
		
	</div>
	
	<div class="block"  style="background-color:#D8D8D8;">
		
		<div class="col-md-12">
			
			<p class="evolveHeaderText">Build Your Database</p>
			
			<p class="carousel_header_font">Fan Insights & Total Control Each Game</p>
			
		</div>
			
		<div class="col-md-6" style="padding-right:5%; padding-left:5%" align="right">
			
			<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>

			<p class="learnMoreClass">From fan insights to push notifications to rewards, we give you total control of your digital gameday experience</p>
			
			<div class="vertical-spacer-lg"></div>
			
			<p class="learnMoreClass">Gain valuable insights on how your fans engage and activate them with segmented push notifications based on their engagement</p>
			
		</div>
		
		<div class="col-md-6">
			
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
			
				<%= image_tag '/images/june_team_dash.png' %>
				
		</div>
		
	</div>
	
	<a name="contactus" id="contactus" class="anchor"></a>
	
	<div class="block" style="background-color:black">
		
		<%= image_tag '/images/june_phone_icon.png' %>
		
		<div class="vertical-spacer-lg"></div>
		
		<p class="connectingFansWithSponsorsText">What are your digital goals?</p>
		
		<p class="digitalInventorySalesText" >Let's chat about engaging your fans</p>
		
		<div class="vertical-spacer-lg"></div>
		
    <form action="https://pick6page-contact.herokuapp.com" method="post"  id="contact_form">
        
        <div class="form-group">
                      
          <div class="col-md-3 col-md-offset-3 inputGroupContainer">
            	            
              <input name="name" placeholder="Name" class="form-input-special" id="name" type="text">
              
              <div class="vertical-spacer"></div>
              
              <input name="team" placeholder="Team" class="form-input-special" id="team" type="text">
              
              <div class="vertical-spacer"></div>
              
              <input name="email" placeholder="E-mail" class="form-input-special" id="email" type="email">
            
          </div>
          
          <div class="col-md-3 inputGroupContainer">
          	
          	<textarea class="form-control" style="height:76.68px" name="comment" placeholder="Tell us a little about your team!" id="comment"></textarea>
          	
          	<div class="vertical-spacer"></div>
          	
          	<button type="submit" class="btn btn-danger" style="width:100%">Send Us An Email!</button>
          	
          </div>
          
        </div>

        <!-- Success message -->
        <div id="success" class="modal fade text-center" role="dialog" style="display:none">
          
            <div class="modal-dialog">
              
              <div class="modal-content">
                  
                <div class="modal-header text-left">
                  
                  <span class="fa fa-times" id="dismissModalButton" data-dismiss="modal"></span>
                
                  </div>
                  
                  <%= image_tag "EmailIcon.png", :height=>"200", :width=>"200" %>
                   
                  <h1>Request Received!</h1>
                  
                  <h5>Thanks for contacting us, we will get back to you shortly.</h5>
              
              </div>
              
            </div>
            
          </div>
        
        <div class="alert alert-warning" role="alert" style="display:none" id="blank_error">Oh No! One or more fields was left blank.  Fill in the fields and try again.</div>
        
        <div class="alert alert-danger" role="alert" style="display:none" id="posting_error">Oh No! There was a posting error!  Make sure all fields are filled in correctly and try again.</div>
        
        <div class="vertical-spacer-lg"></div>
        
    </form>
		
	</div>
	
	<%# partial "/partials/team_contact" %>
	
	<%# partial "/partials/footer" %>
	
</div>
