---
title: Sqwad Fantasy
description: SQWAD brings next level fan engagement to your team
---

<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<%= partial "/partials/sqwad_business_change_header" %>
	
	<a name="Home" id="home" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12 block firstBlockBackground" style="height: 100vh;">
			<div class="center-text">
				<p style="margin:0">
					YOUR GAMEDAY, <span style="color: #FA023C; font-weight: bold">AMPLIFIED</span>
				</p>
				<p class="underHeaderText">Invest your fans digitally to the great moments of your game, <span style="color:#50e3c2">sell more tickets and sponsorship</span></p>
			</div>
		</div>
	</div>
	
	<a name="teams" id="teams" class="anchor"></a>
	
	<div class="row" style="color:#D8D8D8">
		
		<div class="vertical-spacer"></div>
		
		<p style="font-size:50px">Our Clients</p>
		
		<div class="vertical-spacer"></div>
		
		<div class="col-md-2 col-md-offset-1 col-xs-6">
			
			<a href="http://winterhawks.com/theapp/" target="_blank"><%= image_tag '/images/WinterhawksLogobig.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2 col-xs-6">
			
			<a href="http://storm.wnba.com/storm-app-tutorial/" target="_blank"><%= image_tag '/images/Stormlogo.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2 col-xs-6">
			
			<a href="http://gocheckers.com/fan-zone/mobile-app" target="_blank"><%= image_tag '/images/CheckersLogo.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2 col-xs-6">
			
			<a href="http://spokanechiefs.com/mobile-app" target="_blank"><%= image_tag '/images/Chiefslogo.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
		<div class="col-md-2 col-xs-12">
			
			<a href="http://www.wnba.com/fantasy/" target="_blank"><%= image_tag '/images/WNBAlogo.png', :class => "teamLogoSizes" %></a>
			
			<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
	<div class="vertical-spacer"></div>
	
	<a name="why" id="why" class="anchor"></a>
	
		<div class="row">
		
		<div class="col-md-12 block secondBlockBackground">
			<div class="secondBlockHeaderText">
				<p style="margin:0">
					YOUR FANBASE IS<br><span style="color: #50e3c2; font-weight: bold">EVOLVING</span>
				</p>
				<div class="vertical-spacer-lg"></div>
				<p class="fourtyThreePercentText"><span style="font-size:60px; font-weight:bold">43%</span> of time spent on mobile apps is attributed to gaming</p>
				<p class="belowFortyThreePercentText">More than social and entertainment <span style="color:#50e3c2; font-weight:bold">combined</span></p>
				<div class="vertical-spacer-lg"></div>
				<p class="col-md-offset-2 col-md-8 underSecondHeaderText">The way fans consume sports is changing at a rapid pace.  
					Your mobile experience can no longer be static.  It must be active to the great moments in your live game.</p>
			</div>
		</div>
	</div>
	
	<a name="features" id="features" class="anchor"></a>
	
	<div class="block">
	
		<div class="row">
					
			<div class="col-md-12">
					
					<div class="col-md-7 col-md-offset-1">
						
						<img class="phone_overlay" src="/images/apple_silver.png" alt="">
						
						<video width="220px" height="auto" poster="/images/bird_frozen.png" class="overlay_video" id="video1" onloadeddata="runMyFunction();">
						  <source src="/videos/pickplayer.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>
						
						<video width="100%" height="auto" id="video2" poster="/images/clark_frozen.jpg" onloadeddata="runMyFunction();">
						  <source src="/videos/sqwad_play_clip.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>
						
					</div>
					
					<div class="col-md-4 col-sm-12">
						
						<p class="evolveWithThemText">EVOLVE WITH THEM</p>
						
					</div>
				
			</div>
			
		</div>
	
		<div class="row" style="padding-left: 10%; padding-right: 10%; padding-top: 10%">
			
			<div class="col-md-4">
				
				<img src="/images/connect_icon.png" alt="">
				
				<p class="evolveImageHeadText">CONNECT</p>
				
				<p class="evolveImageBodyText">IN-GAME FANTASY FOR YOUR TEAM, YOUR PLAYERS, YOUR GAME</p>
				
			</div>
			
			<div class="col-md-4">
				
				<img src="/images/invest_icon.png" alt="">
				
				<p class="evolveImageHeadText">INVEST</p>
				
				<p class="evolveImageBodyText">A LOYALTY PROGRAM THAT INVESTS THEM DIGITALLY WITH REWARDS</p>
				
			</div>
			
			<div class="col-md-4">
				
				<img src="/images/assist_icon.png" alt="">
				
				<p class="evolveImageHeadText">ASSIST</p>
				
				<p class="evolveImageBodyText">A BACK-END INSIGHT SYSTEM THAT HELPS YOU SELL TICKETS & SPONSORSHIP</p>
				
			</div>
			
		</div>
		
	</div>
	
	<a name="Home" id="home" class="anchor"></a>
	
	<div class="row">
		
		<div class="col-md-12">
			
			<div class="row">
				
				<div class="col-md-4 col-xs-12">
									
					<video width="300px" height="auto" poster="" autoplay loop class="rewards_video_overlay">
					  <source src="/videos/reward_redeemed.mov" type="video/mp4">
					  Your browser does not support the video tag.
					</video>
					
				</div>
				
				<div class="col-md-8">
					
					<img src="/images/invest_icon.png" alt="" class="investIconImageRewards">
					
					<p class="loyaltyHeaderText">Loyalty Through Rewards</p>
					
					<p class="fansGainPointsText">Fans gain points to use on:</p>
						
					<p class="listOfBenefitsClass">&#8226;Sponsor rewards</p>
					
					<p class="listOfBenefitsClass">&#8226;Tickets & Merchandise</p>
					
					<p class="listOfBenefitsClass">&#8226;Team Experiences</p>
					
					<p class="seamlessDelivery">Which are seamleassly delivered through email</p>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="vertical-spacer-lg"></div>
	
	<a name="testimonials" id="testimonials" class="anchor"></a>
	
	<div class="row">
				
		<div class="col-md-12" style="padding:0">
			
			<div class="block block-bordered-lg thirdBlockBackground">
				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<%= image_tag '/images/storm_icon_tickets.png' %>
					</div>
					<div class="col-sm-4">
						<p class="threehundredplus">300+</p>
						<p class="ticketsSoldLastSeason">Tickets sold last season through our interaction and data</p>
					</div>
					<div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-0" class="ticketsDivImage">
						<div class="vertical-spacer-lg"></div>
						<%= image_tag '/images/tickets_icon.png', :class =>'ticketsIconStyle' %>
					</div>
					
				</div>
				
				<div class="vertical-spacer-lg"></div>
				<div class="vertical-spacer-lg"></div>
				
				<div class="row">
					
					<div class="col-md-12" align="center">
						
						<p class="kennyQuote">"SQWAD engages our fans while giving us tangible ROI."</p>
						
						<p class="belowQuoteKenny">--KENNY DOW, SR. MANAGER, MARKETING</p>
						
						<div class="vertical-spacer-lg"></div>
						
						<p class="btn learnHowButton" onclick="ga('send', 'event', 'Click', 'Click Learn How Button');"><%= link_to 'LEARN HOW', '/stormcasestudy.html', :class=> 'ticketsIconStyle',:target=>'_blank' %></p>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div> 
	
	<a name="press" id="press" class="anchor"></a>
	
	<div class="row" style="background-color:black">
		
		<div class="vertical-spacer-lg"></div>
		
		<p class="sqwadInTheNews">PRESS</p>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class = "col-sm-4">
			
			<div class="vertical-spacer"></div>
			
			<a href="http://www.excellesports.com/news/sue-bird-breanna-stewart-plan-change-fantasy-sports/" class="newsArticles" target="_blank"><%= image_tag '/images/excelle_sports_logo.png' %></a>
			
		</div>
		
		<div class = "col-sm-4">
			
			<div class="vertical-spacer"></div>
			
			<a href="http://www.nextpittsburgh.com/features/17-pittsburgh-tech-companies-to-watch-in-2017/2/" class="newsArticles" target="_blank"><%= image_tag '/images/next_pittsburgh_logo.png' %></a>
			
		</div>
		
		<div class = "col-sm-4">
			
			<div class="vertical-spacer"></div>
			
			<a href="http://player.fm/series/espnws-the-trifecta-with-spain-jane-kate-1204055/the-trifecta-4216" class="newsArticles" target="_blank"><%= image_tag '/images/espnw_logo.png' %></a>
			
			<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>
			
		</div>
		
	</div>
	
	<%= partial "/partials/team_contact" %>
	
	<%= partial "/partials/footer" %>
	
</div>
