---
title: Sqwad Fantasy Storm Case Study
description: A case study of Sqwads unique engagement
---

<div class="se-pre-con" id="loader" style="display:none"></div>

<div class="container-fluid" style="padding:0">
	
	<%= partial "/partials/sqwad_business_change_header" %>
	
	<div class="block block-inverse event-block-bg-img-partial"></div>
	
	<div class="vertical-spacer-lg"></div>
	
	<p class=""><%= link_to 'Learn How We Can Help Your Team', '/pdfs/sponsorshipRevenueOverview.pdf', :class=> 'stormcasestudybuttonpdf',:target=>'_blank' %></p>
	
	<div class="row" style="margin-left:10%; margin-right:10%">
	
		<p class='stormcasestudytextheaders'>The Seattle Storm turns mobile engagement into ticketing revenue through SQWAD</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm had the goal of creating a mobile experience for their fans that 
			not only engaged their fans during the live game, but also lead to tangible ROI for their team.</p>
			
		<p class='stormcasestudytextheaders'>Goals</p>
			
		<ol>
			
			<li class="stormcasestudybodytext">Create a mobile experience that pulls fans in and connects them with the live game</li>
			
			<li class="stormcasestudybodytext">Build customer insights for CRM system</li>
			
			<li class="stormcasestudybodytext">Turn this experience into a vessel to directly sell tickets</li>
			
		</ol>
		
		<div class="vertical-spacer-lg"></div>
		
		<img src="/images/stewart_app.jpg" alt="">
		
		<div class="vertical-spacer"></div>
		
		<p class='stormcasestudytextheaders'>Background</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm offered fans SQWAD mobile experience that included an in game fantasy 
			sports platform and loyalty experience for their fans to engage with the live game.</p>
			
		<p class="stormcasestudybodytext">The fan engagement:</p>
		
		<ul>
			
			<li class="stormcasestudybodytext">2,300 accounts made</li>
			
			<li class="stormcasestudybodytext">Average 247 users per game</li>
			
			<li class="stormcasestudybodytext">Avg 20 player picks per game</li>
			
			<li class="stormcasestudybodytext">92% of users played from the 1st -4th Quarter</li>
			
		</ul>
		
		<p class="stormcasestudybodytext">The Storm offered a ticketing deal on the home 
			slider of the platform for the season to match a non-intrusive 
			CTA with the pull of the mobile experience. </p>
		
		<div class="videoWrapper">
			<iframe width="640" height="360" 
				src="https://www.youtube.com/embed/Tx9qfrgxnFU" frameborder="0" allowfullscreen>
			</iframe>
		</div>
			
		<p class='stormcasestudytextheaders'>The Results</p>
		
		<p class="stormcasestudybodytext">The Seattle Storm were able to</p>
		
		<ul>
			
			<li class="stormcasestudybodytext">Sell an additional 300+ tickets just from the CTA in the slider</li>
			
			<li class="stormcasestudybodytext">Added valuable insights to their ticketing CRM system for over 2,300 fans</li>
			
			<li class="stormcasestudybodytext">1 in 10 active users were ticket buyers</li>
			
		</ul>
		
		<p class="stormcasestudybodytext">With this data the Storm are able to have actionable insights that help in group and season ticket sales.</p>
		
		<p class='stormcasestudytextheaders'>What’s Next?</p>
		
		<p class="stormcasestudybodytext">For the 2017 season they we are working with the Storm to add direct messaging & push notifications segmented based on fan actions and behaviors within the platform.</p>
		
		<p class=""><%= link_to 'Learn How We Can Help Your Team', '/pdfs/sponsorshipRevenueOverview.pdf', :class=> 'stormcasestudybuttonpdf',:target=>'_blank' %></p>
		
	</div>
	
	<div class="vertical-spacer-lg"></div>
	
	<%= partial "/partials/team_contact" %>
	
	<%= partial "/partials/footer" %>
	
</div>